src/ws/test/CAGAccessService.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://info.nari-china.com/CAG" xmlns:tns="http://info.nari-china.com/CAG" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://www.w3.org/2003/05/soap-envelope" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc11="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soapenc12="http://www.w3.org/2003/05/soap-encoding" xmlns:soap11="http://schemas.xmlsoap.org/soap/envelope/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://info.nari-china.com/CAG">
<xsd:element name="uploadCMAConfig">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAConfigResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMAHistoryVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMAHistoryVersionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAHeartbeatInfo">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAHeartbeatInfoResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMALatestVersion">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMALatestVersionResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMAUpdateFile">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="downloadCMAUpdateFileResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAData">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMADataResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAImage">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="in0" nillable="true" type="xsd:base64Binary"/>
<xsd:element maxOccurs="1" minOccurs="1" name="in1" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="uploadCMAImageResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" name="out" nillable="true" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="downloadCMAUpdateFileResponse">
    <wsdl:part name="parameters" element="tns:downloadCMAUpdateFileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAHeartbeatInfoRequest">
    <wsdl:part name="parameters" element="tns:uploadCMAHeartbeatInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadCMALatestVersionResponse">
    <wsdl:part name="parameters" element="tns:downloadCMALatestVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMADataRequest">
    <wsdl:part name="parameters" element="tns:uploadCMAData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAImageRequest">
    <wsdl:part name="parameters" element="tns:uploadCMAImage">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadCMALatestVersionRequest">
    <wsdl:part name="parameters" element="tns:downloadCMALatestVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMADataResponse">
    <wsdl:part name="parameters" element="tns:uploadCMADataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAImageResponse">
    <wsdl:part name="parameters" element="tns:uploadCMAImageResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadCMAUpdateFileRequest">
    <wsdl:part name="parameters" element="tns:downloadCMAUpdateFile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAConfigResponse">
    <wsdl:part name="parameters" element="tns:uploadCMAConfigResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadCMAHistoryVersionRequest">
    <wsdl:part name="parameters" element="tns:downloadCMAHistoryVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="downloadCMAHistoryVersionResponse">
    <wsdl:part name="parameters" element="tns:downloadCMAHistoryVersionResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAConfigRequest">
    <wsdl:part name="parameters" element="tns:uploadCMAConfig">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="uploadCMAHeartbeatInfoResponse">
    <wsdl:part name="parameters" element="tns:uploadCMAHeartbeatInfoResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CAGAccessServicePortType">
    <wsdl:operation name="uploadCMAConfig">
      <wsdl:input name="uploadCMAConfigRequest" message="tns:uploadCMAConfigRequest">
    </wsdl:input>
      <wsdl:output name="uploadCMAConfigResponse" message="tns:uploadCMAConfigResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMAHistoryVersion">
      <wsdl:input name="downloadCMAHistoryVersionRequest" message="tns:downloadCMAHistoryVersionRequest">
    </wsdl:input>
      <wsdl:output name="downloadCMAHistoryVersionResponse" message="tns:downloadCMAHistoryVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAHeartbeatInfo">
      <wsdl:input name="uploadCMAHeartbeatInfoRequest" message="tns:uploadCMAHeartbeatInfoRequest">
    </wsdl:input>
      <wsdl:output name="uploadCMAHeartbeatInfoResponse" message="tns:uploadCMAHeartbeatInfoResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMALatestVersion">
      <wsdl:input name="downloadCMALatestVersionRequest" message="tns:downloadCMALatestVersionRequest">
    </wsdl:input>
      <wsdl:output name="downloadCMALatestVersionResponse" message="tns:downloadCMALatestVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMAUpdateFile">
      <wsdl:input name="downloadCMAUpdateFileRequest" message="tns:downloadCMAUpdateFileRequest">
    </wsdl:input>
      <wsdl:output name="downloadCMAUpdateFileResponse" message="tns:downloadCMAUpdateFileResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAData">
      <wsdl:input name="uploadCMADataRequest" message="tns:uploadCMADataRequest">
    </wsdl:input>
      <wsdl:output name="uploadCMADataResponse" message="tns:uploadCMADataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAImage">
      <wsdl:input name="uploadCMAImageRequest" message="tns:uploadCMAImageRequest">
    </wsdl:input>
      <wsdl:output name="uploadCMAImageResponse" message="tns:uploadCMAImageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CAGAccessServiceHttpBinding" type="tns:CAGAccessServicePortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="uploadCMAConfig">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="uploadCMAConfigRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCMAConfigResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMAHistoryVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="downloadCMAHistoryVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadCMAHistoryVersionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAHeartbeatInfo">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="uploadCMAHeartbeatInfoRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCMAHeartbeatInfoResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMALatestVersion">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="downloadCMALatestVersionRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadCMALatestVersionResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadCMAUpdateFile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="downloadCMAUpdateFileRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="downloadCMAUpdateFileResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAData">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="uploadCMADataRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCMADataResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="uploadCMAImage">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="uploadCMAImageRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="uploadCMAImageResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CAGAccessService">
    <wsdl:port name="CAGAccessServiceHttpPort" binding="tns:CAGAccessServiceHttpBinding">
      <wsdlsoap:address location="http://10.162.211.14:7003/CAG/services/CAGAccessService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
